@import "./../../vars.scss";

.wrap{
    width: 100%;
    height: auto;
    background-color: $background-color;
}

.form{
    margin: 0 auto;
    width: 328px;
    height: 700px;

    position: relative;

}
input{
    padding: 14px 16px 14px 16px;
    height: 50px;
    border: 1px solid #D0CFCF;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 20px; 
    background-color: $background-color;
   
}
label{
    position: relative;
}
.lable__text{
    position: absolute;
    display: none;
    background-color: #F8F8F8;
    top: -6px;
    left: 13px;
    color: #7E7E7E;
    padding: 0 3px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}
.name__label{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 0;
}
/* .name__input{
    padding: 14px 16px 14px 16px;
    border: 1px solid #D0CFCF;
    box-sizing: border-box;
    border-radius: 4px;
} */
.email__label{
    display: flex;
    flex-direction: column;
    width: 100%;

    position: absolute;
    top: calc(54px + 50px);
}
.email__input{}
.phone__label{
    display: flex;
    flex-direction: column;
    width: 100%;

    position: absolute;
    top: calc(2 * 54px + 2 * 50px);
}
.phone__input{}
.phone_exemple{
    padding: 3px 0px 0px 10px;
    color:#7E7E7E;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}
.redio__block{
    position: absolute;
    top: calc(3 * 54px + 3 * 50px);
    left: 0;

    display: flex;
    flex-direction: column;
    /* align-items: flex-start;
    justify-content: flex-start; */
    /* text-align: left; */
}
.input:checked{
    color: #7E7E7E;
    background-color: #B4B4B4;
}
.file__span{
    display: block;
    margin-bottom: 5px;}
.radio__input{

    line-height: 32px;
    cursor: pointer;
    position: relative;
    padding-left: 32px
}
.radio_button{
    margin-top: 8px;
    height: 20px;
    width: 20px; 
    border: 1px solid $secondary-color;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    // top: -0.2rem;
}
.radio_button::after {
    content: "";
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $secondary-color;
    opacity: 0;
    transition: opacity 0.2s;
  }
.radio_button__checked::after{
opacity: 1;
}
.file__wrap_input{
    position: absolute;
    top: calc(3 * 54px + 3 * 50px + 200px);
    width: 100%;
    z-index: 10;
}
.file__bth{
    position: absolute;
    padding: 18px 16px 18px 16px;
    border: 1px solid #D0CFCF;
    box-sizing: border-box;
    border-radius: 4px 0 0 4px;
    z-index: 1;
}
.file__bth_wpar_name{
    position: absolute;
    top: 0px;
    background-color: white;
    border: 1px solid #D0CFCF;
    border-radius: 4px;
    width: 100%;
    height: 54px;
    
}
.error__text_photo{
    position: absolute;
    top: 55px;
    overflow: hidden;
}
.file__bth_span{ 
    color: #7E7E7E;
    padding: 18px 18px 0px 100px;
}
.file__err{
    position: absolute;
    top: 70px;
    z-index: 0;
}
.user__success_image{
    text-align: center;
}

.sub__bth{
    position: absolute;
    top: calc(3 * 54px + 3 * 50px + 305px);
    left: calc(50% - 100px/2);

    width: 100px;
    height: 34px;
    border-radius: 80px;
    background-color: $primary-color;
    
}

.sub__bth_disabled{
    background-color: #B4B4B4;
    color: white;
}

.error__text{
    padding: 3px 0px 0px 16px;
    color: red;
}
.error__input{
    border: 1px solid red;
    color: red
}
.wrap__loading_masseg{
    width: 100%;
    height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.loading{}

@media screen and (min-width: 768px) {
    .form{
        width: 380px;
    
    }
}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 2560px) {
}
