.wrap_form{
    width: 100%;
    height: auto;
    background-color: #F8F8F8;
}

.form{
    margin: 0 auto;
    /* text-align: center; */
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    width: 328px;
    height: 700px;

    position: relative;
    /* background-color: white; */

}
input{
    padding: 14px 16px 14px 16px;
    border: 1px solid #D0CFCF;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 20px; 
    background-color: #F8F8F8;
   
}
label{
    position: relative;
    /* background-color: #00bdd3; */
}
.lable__text{
    position: absolute;
    display: none;
    background-color: #F8F8F8;
    top: -6px;
    left: 13px;
    color: #7E7E7E;
    padding: 0 3px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}
.name__label{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 0;
}
/* .name__input{
    padding: 14px 16px 14px 16px;
    border: 1px solid #D0CFCF;
    box-sizing: border-box;
    border-radius: 4px;
} */
.email__label{
    display: flex;
    flex-direction: column;
    width: 100%;

    position: absolute;
    top: calc(54px + 50px);
}
.email__input{}
.phone__label{
    display: flex;
    flex-direction: column;
    width: 100%;

    position: absolute;
    top: calc(2 * 54px + 2 * 50px);
}
.phone__input{}
.phone_exemple{
    padding: 3px 0px 0px 10px;
    color:#7E7E7E;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}
.redio__block{
    position: absolute;
    top: calc(3 * 54px + 3 * 50px);
    left: 0;

    display: flex;
    flex-direction: column;
    /* align-items: flex-start;
    justify-content: flex-start; */
    /* text-align: left; */
}
.input:checked{
    color: #7E7E7E;
    background-color: #B4B4B4;
}
.file__span{
    display: block;
    margin-bottom: 5px;}
.redio__input{
    padding-top: 5px;
}
.file__wrap_input{
    position: absolute;
    top: calc(3 * 54px + 3 * 50px + 148px);
    width: 100%;
    z-index: 10;
}
.file__bth{
    position: absolute;
    padding: 18px 16px 18px 16px;
    border: 1px solid #D0CFCF;
    box-sizing: border-box;
    border-radius: 4px 0 0 4px;
    z-index: 1;
}
.file__bth_wpar_name{
    position: absolute;
    top: 0px;
    background-color: white;
    border: 1px solid #D0CFCF;
    border-radius: 4px;
    width: 100%;
    height: 54px;
    
}
.file__bth_span{ padding: 18px 18px 0px 100px;}
.file__err{
    position: absolute;
    top: 70px;
    z-index: 0;
    /* display: block; */
}
.input_radio{
    /* padding: 5px; */
    margin: 2px 5px 2px 5px;
}
.user__success_image{
    text-align: center;
    /* display: none; */
}
.visible{
    display: block;
}
.unvisible{
    display: none;
}
.sub__bth{
    position: absolute;
    top: calc(3 * 54px + 3 * 50px + 252px);
    left: 0;

    width: 120px;
    height: 34px;
    border-radius: 80px;
    background-color: #F4E041;
    /* width: 100%; */
    
}
.sub__bth_disabled{
    background-color: #B4B4B4;
    color: white;
}

.error__text{
    padding: 3px 0px 0px 16px;
    color: red;
}
.error__input{
    border: 1px solid red;
    color: red
}

/* .error__text_photo{
    position: absolute;
    top: 50px;
    left: 0px;
} */

@media screen and (min-width: 768px) {
    .form{
        width: 380px;
    
    }
    .sub__bth{
        left: calc(50% - 100px/2);
    }
}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 2560px) {
}

/* className={
    errors.name && touched.name
      ? styles.loginRegist__input_error +
        ' ' +
        styles.loginRegist__input
      : styles.loginRegist__input
  } */
